article {
  max-width: 50vw;
  margin-left: auto;
  margin-right: auto;
}

article > h2 {
  text-align: center;
  margin-bottom: 0;
}

[role='group']:has(#timetravel) {
  align-items: center;
}

#now {
  width: auto;
  height: auto;
  padding: 0.25rem 0.5rem;
}

@media screen and (max-width: 1024px) {
  article {
    max-width: 100%;
  }
}
