#greyLine header h2 {
  margin-bottom: 0;
  text-align: center;
}

#greyLineChart {
  width: 100%;
  max-width: 500px;
  max-height: 500px;
  aspect-ratio: 1 / 1;
  margin: 0 auto;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}

.grey-line-earth {
  font-size: 500px;
  line-height: 1;
  display: block;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.grey-line-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
