#solarSystem header h2 {
  margin-bottom: 0;
  text-align: center;
}

#solarSystemChart {
  font-size: 1rem;
  width: 100%;
  height: auto;
  max-width: 500px;
  max-height: 500px;
  aspect-ratio: 1 / 1;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid white;
  border-radius: 50%;
  position: relative;
}

#sun,
#mercury,
#venus,
#us,
#mars,
#jupiter,
#saturn,
#uranus,
#neptune {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-bottom: 0;
  cursor: default;
  font-family: system-ui, sans-serif;
}

.orbit {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgba(255, 255, 255, 0.02);
  border-radius: 50%;
  pointer-events: none;
}

#sun {
  font-size: 3rem;
}

#moon {
  font-size: 0.6rem;
  position: absolute;
  top: 6px;
  left: 6px;
  cursor: default;
}

@media screen and (max-width: 1024px) {
  #sun {
    font-size: 2rem;
  }
}
